# ========================================
# Acesso e leitura dos dados do DataSUS
# ========================================
pysus>=0.15.0
pyarrow>=14.0.0

# ========================================
# Manipulação de dados
# ========================================
pandas>=2.0.0
numpy>=1.24.0

# ========================================
# Ambiente interativo (Jupyter)
# ========================================
jupyter>=1.0.0
ipykernel>=6.0.0

# ========================================
# Visualização inicial (exploração)
# ========================================
matplotlib>=3.7.0
seaborn>=0.12.0